<!--

<!DOCTYPE html>
<html>

<head>

    <title>My Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href='/stylesheets/signup.css' />
    <link rel='stylesheet' href="/stylesheets/mypage.css" />
    <link rel="stylesheet" href="/stylesheets/companymypage.css"/>
</head>
<style>
    .nav-link {
        cursor: pointer;
    }

    .span p {

        font-size: 10px;
    }

    #table {
            margin-left: 10px;
            margin-top: 30px;
            height: auto;
            border-radius: 15px;
            box-shadow: 0px 0px 10px #D9D9D9;
    }

    td {
        padding-left: 20px;
        padding: 10px;
    }

    #title {

        margin-left: 30px;
        margin-top: 30px;
        font-weight: bold;
        font-size: 30px;
       
        color: #565756;
    }
</style>

<body>

    <div class="area">

        <div class="state_info">

            <span class="border border-success">업체 팜</span>
            <span class="border border-success2">상품 <%=productCount.count%>개</span>
            <span class="border border-success2">주문 <%=orderCount.count%>건</span>
            <span class="border border-success2">직거래 <%=directCount.count%>건</span>

        </div>

        <div class="com_sidenav">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true"> 상품관리 </a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" onclick="location.href='/company/selectOrder'" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">주문관리</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">환불관리</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                    rclass="nav-link" id="v-pills-settings-tab" data-toggle="pill">통계</a>

                <a class="nav-link" href="/users/mypage">마이페이지</a>
            </div>
        </div>
        <div class="com_mypage_info">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="product_top">
                        <a id = "title">상품 관리</a>
                        <button onclick="location.href='/company/insertProduct'"class="btn btn-light2"> + 상품 등록</button>
                    </div>
                        <div>
                            <div class="product_image_box">
                                <div id="img" >
                                 
                                    <img src="" alt=""  height="150">
        
                                </div>
                                <div style="flex-basis: 600px; display: flex; flex-direction: column; margin: auto 10px auto 0px">
                                    <span class="order_info">상품이름 재고량 판매마감기간</span>
                                </div>
                                <div style="flex-basis: 120px; display: flex; flex-direction: column; margin: auto;">
                                    <a href="#"><button class="order_btn" >판매종료</button></a>
                                    <a href="#"><button class="order_btn" >수정</button></a>
                                </div>
                            </div>
                           
                        </div> 
                        <!--
                        <div class="table">
                            <table>
                                    <% for (var i=0; i < product.length; i++) { %>
                                        <tr>
                                            <td>상품이미지</td>
                                            <td><%=product[i].product_name%></td>
                                            <td><%=product[i].product_value%></td>
                                            <td><%=product[i].product_date%></td>
                                            <td><%=product[i].product_state%></td>
                                            <form method="post" action="/company/updateProductState/<%=product[i].product_num%>">
                                                <td><button type="submit">판매종료</button></td>
                                            </form>
                                            <td><button onclick="location.href='/company/insertProduct'">리뷰</button></td>
                                            <td><button onclick="location.href='/company/updateProduct/<%=product[i].product_num%>'">상품 수정</button></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        

                    </div>
             
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <form>
                        <h1 class="coupon_title">내가 보유한 쿠폰</h1>
                        <table class="table">
                            <thead>
                                <th scope="col">쿠폰명</th>
                                <th scope="col">할인 금액</th>
                                <th scope="col">사용기한</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">쿠폰명</th>
                                    <td>할인 금액</td>
                                    <td>사용기한</td>
                                </tr>
                                <tr>
                                    <th scope="row">쿠폰명</th>
                                    <td>할인 금액</td>
                                    <td>사용기한</td>
                                </tr>

                            </tbody>

                        </table>

                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <form>
                        <a id="title">환불 목록</a>
                        <table class="table">
                            <thead>
                                <tr>
                                <th>주문번호</th>
                                <th>주문자</th>
                                <th>주문일자</th>
                                <th>주문상태</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for (var i = 0; i < refund.length; i++) { %>
                                <tr>
                                    <td><a href="/company/selectRefund/<%=refund[i].order_num%>"><%=refund[i].order_num%></a></td>
                                    <td><%=refund[i].order_date%></td>
                                    <td><%=refund[i].user_id%></td>
                                    <td><%=refund[i].order_state%></td>
                                </tr> 
                            </tbody>   
                            <% } %>
                            
                        </table>

                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <form>
                        <h1 class="coupon_title">정산 내역</h1>
                        <a href="javascript:popupOpen();"> 열려라 팝업창! </a>
                        <table class="table">
                            <thead>
                                <th scope="col">배송지명</th>
                                <th scope="col">주소</th>
                                <th scope="col">연락처</th>
                                <th scope="col">수정</th>
                                <th scope="col">삭제</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>우리집</td>
                                    <td>부산광역시 사하구 하신중앙로2 106동 501호(장림동, 동원로얄듀크아파트)</td>
                                    <td>010-6403-3994</td>
                                    <td><a>수정</a></td>
                                    <td><a>삭제</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script>
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
    <script type="text/javascript">
        function popupOpen() {

            var popUrl = "/users/mypage/insertCard";	//팝업창에 출력될 페이지 URL

            var popOption = "width=500, height=500, resizable=0, scrollbars=no, toolbars=no, menubar=no status=no;";    //팝업창 옵션(optoin)

            window.open(popUrl, "", popOption);
        }        
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>