<!DOCTYPE html>
<html>


<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/companymypage.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>
        .selectbox {
            
            position: absolute;
            width: 300px;
            right: -150px;
        }


        #side_nav_body_order {

            width: 100%;
            height: auto;
            border: #ABE0A8 solid 5px;
            border-radius: 20px;
            text-align: center;
        }
        

    </style>
  

</head>

<body>

<div class="companyarea">


    <div id="order_title_name">
        <h1>주문 상세정보</h1> 
    </div>    
  
      
  
            <div id="order_box">
                <div>
                    <label>주문번호: <%= detail[0].order_num %></label>       
                </div>
                <div>
                    <label>주문일자: <%= detail[0].order_date %></label>
                </div>
                <div>
                    <% if(detail[0].order_direct_whether == "Y" ) {%>
                    <label>직거래 장소: <%= detail[0].area_name %></label>
                    <%} else {%>
                    <label>배송지 정보: <%= detail[0].place_addr %> <%= detail[0].place_addrinfo %></label>   
                    <%}%>
                </div>
                   
                <div>
                    <label>주문상태: <%= detail[0].order_state %></label>
                </div>
                <div>
                    <label>주문자 정보: <%= detail[0].user_id %> </label>
                </div>
                <div>
                    <label>상품명: <%= detail[0].product_name %> </label>
                </div>
                <div>
                    <label>구매수량: <%= detail[0].order_sum %></label>
                </div>  
            </div> 
            <div class="selectbox">
                <div id="side_nav_body_order">
                    <h4>주문상태 변경하기</h4>
                    <form method="POST" action="/company/updateOrderstate/<%= detail[0].order_num %>">
                    <div style="padding: 5px;" class="state">
                        <select name="state">
                            
                            
                            <% if(detail[0].order_direct_whether == "Y" ) {%>
                                <option value="3">상품준비</option>
                            <option value="4">상품수령대기</option>
                            <option value="5">상품수령완료</option>
                                <%} else {%>
                                    <option value="1">배송중</option>
                                    <option value="2">배송완료</option>  
                                <%}%>
                        </select>
                    </div>
                    
                        <button class="btn btn-orderdetail" type="submit">주문상태변경</button>
                    </form>
                    
                    <button class="btn btn-orderdetail"><a href="/company">뒤로가기</a></button>
                </div>
            </div>          
</div>
</body>

  

</html>