<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>
        #title_name {
            margin-top: 100px;
            text-align: center;

        }

        #title_name h1 {
            color: #ABE0A8;
            font-weight: bold;
        }
    </style>
</head>


<body>

    <%- include('../head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>

    <button type="button" onclick="location.href='/admin'">신규 판매자 관리</button>
    <button type="button" onclick="location.href='/admin/coupon'">쿠폰 관리</button>
    <button type="button" onclick="location.href='/admin/selectTotal'">정산 관리</button>

    <p><strong>발급 수: </strong><%=count%></p>
    <p><strong>총 발급 금액: </strong><%=max%></p>

    <table>
        <thead>
            <tr>
                <td>소유자</td>
                <td>쿠폰번호</td>
                <td>쿠폰명</td>
                <td>마감일자</td>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < couponinfo.length; i++) { %>
                <tr>
                    <td><%=couponinfo[i].user_id%></td>
                    <td><%=couponinfo[i].coupon_num%></td>
                    <td><%=couponinfo[i].coupon_name%></td>
                    <td><%=couponinfo[i].coupon_date%></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <button type="button" onclick="location.href='/admin/insertCoupon'">추가 발급</button>
    
</body>

</html>