<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/adminpage.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>


        .table2 {
            margin-left: 50px;
            border-spacing: 5px;
            width: 600px;
            margin-top: 30px;
        }
        

        #thead{
            font-weight: bold;
            color: #064601;
            text-align: center;
            font-size: 18px;
            
        }


        #tbody{
            text-align: center;
            padding: 20px;
        }

        button {
            border-radius: 20px;
            color: #FFFFFF;
            background-color: #ABE0A8;
            border: 0;
            width: 200px;
            height: 40px;
            margin-left: 270px;
            margin-top: 10px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        #pp{
            margin-top: 10px;
            width: 500px;
        }

        strong{
            padding-left: 20px;
        }
    </style>
</head>


<body>
<div class="adminarea">

    <%- include('../head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>
    <br>
    <br>

    <div id="box">
        <div id="main_body">
            <div id="side_nav">
                <div id="side_nav_body">
                    <div style="padding: 5px;">
                        <p  onclick="location.href='/admin'">신규 판매자 관리</p>
                        <br>
                        <br>
                        <p id="color" onclick="location.href='/admin/coupon'">쿠폰 관리</p>
                        <br>
                        <br>
                        <p  onclick="location.href='/admin/selectCompany'">정산 관리</p>

                    </div>
                </div>
            </div>

            <div id ="table">
                <table class=table2>
                    <p id="pp"><a id="text">쿠폰 관리</a>
                        <a><strong>발급 수: </strong><%=count%></a>
                        <a><strong>총 발급 금액: </strong><%=max%></a></p>
                    <thead id="thead">
                        <tr>
                            <td>소유자</td>
                            <td>쿠폰번호</td>
                            <td>쿠폰명</td>
                            <td>마감일자</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <% for (var i = 0; i < couponinfo.length; i++) { %>
                            <tr>
                                <td><%=couponinfo[i].user_id%></td>
                                <td><%=couponinfo[i].coupon_num%></td>
                                <td><%=couponinfo[i].coupon_name%></td>
                                <td><%=couponinfo[i].coupon_date%></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <br>
                <button type="button" onclick="location.href='/admin/insertCoupon'">추가 발급</button>
                

            </div>

        </div>
    </div>
</div>
</body>

</html>