<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/adminpage.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>

    </style>
</head>


<body>

    <div class="adminarea">

    <%- include('../head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>
    <br>
    <br>

    <div id="box">

        <div id="main_body">
            <div id="side_nav">
                <div id="side_nav_body">
                    <div style="padding: 5px;">
                        <p id="color" onclick="location.href='/admin'">신규 판매자 관리</p>
                        <br>
                        <br>
                        <p onclick="location.href='/admin/coupon'">쿠폰 관리</p>
                        <br>
                        <br>
                        <p onclick="location.href='/admin/selectCompany'">정산 관리</p>

                    </div>
                </div>
            </div>

            <div id ="table">
                <table class=table2>
                    <p id="text">신규 판매자 목록</p>
                    <thead id="thead">
                        <tr>
                            <td>판매자 이름</td>
                            <td>공급업체 명</td>
                            <td>승인 여부</td>
                        </tr>
    
                    </thead>
                    <tbody id="tbody">
                        <% for(var i=0; i < companyinfo.length; i++ ) { %>
                        <tr scope = row>
    
                            <td><a
                                    href="/admin/companyState/<%=companyinfo[i].company_num%>"><%=companyinfo[i].user_name%></a>
                            </td>
                            <td><%=companyinfo[i].company_name%></td>
                            <td><%=companyinfo[i].company_whether%></td>
    
                        </tr>
                        <% } %>
                    </tbody>
                </table>
    
            </div>

        </div>


        
    </div>


</div>
</body>

</html>