<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>
        #title_name {
            margin-top: 100px;
            text-align: center;

        }

        #title_name h1 {
            color: #ABE0A8;
            font-weight: bold;
        }
    </style>
</head>


<body>

    <%- include('../head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>

    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>정산년월</td>
                        <td>총 매출</td>
                        <td>업체 수익</td>
                        <td>사이트 수익</td>
                    </tr>

                </thead>
                <tbody>
                    <% if (total != undefined) { %>
                    <% for(var i=0; i < total.length; i++ ) { %>
                    <tr>

                        <td>><%=total[i].total_date%></a></td>
                        <td><%=total[i].total_sum%></td>
                        <td><%=total[i].total_company_profit%></td>
                        <td><%=total[i].total_admin_profit%></td>

                    </tr>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td>정산 내역이 없습니다.</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

        </div>
    
        <br>
        <br>
        <br>
        <form method="post" action="/admin/total/<%=num.company_num%>">
            <input type="month" name="date">
            <button type="submit" name="total">정산</button>
        </form>


    </div>


</body>

</html>