<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='bootstrap/css/bootstrap.css' />


  <link rel="stylesheet" href="/stylesheets/main_page.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>


  <style>
    a{color: black; text-decoration: none;}
    a:link, a:hover, a:active{text-decoration: none;}
    body {
      width: 1500px;
      height: 100%;
      display: flex;
      padding-top: 10px;
      flex-direction: column;
      margin: 0 auto;
      color: #5A5A5A;
    }

    /* #main_body {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
    }

    #side_nav {
      cursor: pointer;
      flex-basis: 200px;
      padding: 30px;
      padding-top: 0px;
    }

    #main_title {
      flex-basis: 1100px;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    #title_name {
      margin-top: 100px;
      text-align: center;

    }

    #title_name h1 {
      color: #ABE0A8;
      font-weight: bold;
    }

    

    #sort_select {
      margin-left: 80%;
      margin-top: 20px;
      justify-content: end;
    }

    #side_nav_body {
      width: 100%;
      height: auto;
      border: #ABE0A8 solid 5px;
      border-radius: 15px;
      text-align: center;
    }

    #side_nav_body div p {
      color: #5A5A5A;
    }

    #side_nav_body .category_list {
     margin-top: 10px;
      color: #000;
      font-size: 25px;
      font-weight: bold;
    }

    .price_text {
      font-size: 20px;
      font-weight: 500;
      margin-right: 5px;
    }

    #product_img {
      
      padding: 5px;
    }
    .product_row{
      display: flex; flex-direction: row; flex-wrap: wrap;
    }
    .product_item{
      display: flex; flex-direction: column;  text-align: center; margin: 25px;
    }
    .product_content{
      display: flex; flex-direction: row; text-align: center;
    }
    .price_cancle{
      color: rgb(255, 175, 175); font-size: 15px;
    } */
  </style>



</head>

<body>

    <%- include('../head/nav', {sess:sess})%>

  <div id="title_name">
    <h1>파지 팜</h1>
  </div>

  <%- include('../head/serchBar')%>

  <div><select name="" id="sort_select" onchange="sort_select()">
      <option value="1">등록순</option>
      <option value="2">높은가격순</option>
      <option value="3">낮은가격순</option>
      <option value="4">리뷰순</option>
    </select></div>
  <div>

    <div id="main_body">
      <div id="side_nav">
        <div id="side_nav_body">
          <div style="padding: 5px;">
            <p class="category_list">카테고리</p>
            <p id="like" onclick="select_category(1)">인기상품</p>
            <p id="last" onclick="select_category(2)" style="font-weight: bold;">마감임박</p>
            <p id="direct" onclick="select_category(3)">직거래가능상품</p>
            <p id="potato" onclick="select_category(4)">감자</p>
            <p id="sweet" onclick="select_category(5)">고구마</p>
            <p id="mush" onclick="select_category(6)">버섯</p>
            <p id="pumkin" onclick="select_category(7)">호박</p>
            <p id="onion" onclick="select_category(8)">양파</p>

          </div>
        </div>
      </div>

      <div id="main_title">
        
          
          <div class="product_row">
            <% if(productinfo.length > 0){%>
                <% for(var data of productinfo){%>
                  <a href="/product/<%= data.product_num%>">
                    <div class="product_item">
                      
                          <img src="/images/productImage/<%= data.image_content%>" onerror="this.src='/images/야채.png'" alt="상품이미지" width="200" height="200" id="product_img">
                        
                      <span><%= data.product_name%></span>
                      <div class="product_content">
                        <del class="price_text price_cancle"><%= data.product_before_price%></del><span
                          class="price_text"><%= data.product_price%>원</span>
                          <span><%= (100 - ((data.product_price/data.product_before_price) *100)).toFixed(0) %>%</span>
                      </div>
                    </div>
                  </a>
        
                  <%}%>
            <%} else{%>
                <h1>오늘은 마감상품이 없습니다..</h1>
            <%}%>

          </div>
          
        

        
      </div>
    </div>

  </div>


</body>

<!-- Ajax 서버 통신하는 부분임 정렬때문에 -->
<script>
  function select_category(count){
    switch (count){
      case 1:
        location.href="/"
        break;
      case 2:
        location.href="/last"
        break;
      case 3:
        location.href="/direct"
        break;
      case 4: 
        location.href="/potato"
        break;
      case 5:
        location.href="/sweet"
        break;
      case 6:
        location.href="/mush"
        break;
      case 7:
        location.href="/pumkin"
        break;
      case 8:
        location.href="/onion"
        break;
      
    }
  }

  function sort_select() {
    console.log($('#sort_select option:selected').val())

    var URL = 'http://localhost:3000/sortSelect';


    sendSortValues(URL, $('#sort_select option:selected').val())

    async function sendSortValues(url, data) {

      var data = {
        'sortValue': data,
        'category' : 'last'
      };

      var dataInfo = {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json"
        }
      };

      const reqURL = await fetch(url, dataInfo)
      const product = await reqURL.json();

      if (product) {
        if (product[0].product_num) {
          
          var main_title = document.getElementById('main_title');

          var product_row;

          $('#main_title').empty();

          for(var i = 0; i<product.length; i++){
            if(i%4 == 0){
              product_row = document.createElement('div');
              product_row.className = 'product_row';
              main_title.appendChild(product_row);
            } 

            var linkTagA = document.createElement('a');
            linkTagA.href = '/product/'+product[i].product_num

            var product_item = document.createElement('div');
            product_item.className = 'product_item';

            var product_img = document.createElement('img');
            
            if(product[i].image_content == '' || product[i].image_content == 'none'){
              product_img.setAttribute("src", '/images/야채.png');
            }
            else{
              product_img.setAttribute("src", '/images/productImage/'+product[i].image_content);
            }

            // product_img.addEventListener("error", image_err(product_img));

            // function image_err(product_img){
            //   product_img.setAttribute("src", '/images/야채.png');
            // }

            product_img.style.width = '200px';
            product_img.style.height = '200px';
            

            var product_name = document.createElement('span');
            product_name.innerHTML = product[i].product_name;

            var product_content = document.createElement('div');
            product_content.className = 'product_content';

            var del_price = document.createElement('del');
            del_price.className = 'price_text price_cancle';
            del_price.innerHTML = product[i].product_before_price;

            var real_price = document.createElement('span');
            real_price.className = 'price_text';
            real_price.innerHTML = product[i].product_price+'원';

            var sale_p = document.createElement('span');
            sale_p.innerHTML = (100 - ((product[i].product_price/product[i].product_before_price) *100)).toFixed(0) + "%"

            product_content.appendChild(del_price);
            product_content.appendChild(real_price);
            product_content.appendChild(sale_p);

            product_item.appendChild(product_img);
            product_item.appendChild(product_name);
            product_item.appendChild(product_content);

            linkTagA.appendChild(product_item)

            product_row.appendChild(linkTagA);

          }

          


        }
      } else {
        console.log('값 빔')
      }



    }
  }
</script>

</html>