<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>
        #title_name {
            margin-top: 100px;
            text-align: center;

        }

        #title_name h1 {
            color: #ABE0A8;
            font-weight: bold;
        }
    </style>
</head>


<body>

    <%- include('./head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>

    <button type="button" onclick="location.href='/admin'">신규 판매자 관리</button>
    <button type="button" onclick="location.href='/admin/coupon'">쿠폰 관리</button>
    <button type="button" onclick="location.href='/admin/selectTotal'">정산 관리</button>

    <div>
        <table>
            <thead>
                <tr>
                    <td>판매자 이름</td>
                    <td>공급업체 명</td>
                    <td>승인 여부</td>
                </tr>

            </thead>
            <tbody>
                <% for(var i=0; i < companyinfo.length; i++ ) { %>
                <tr>

                    <td><a href="/admin/companyState/<%=companyinfo[i].company_num%>"><%=companyinfo[i].user_name%></a></td>
                    <td><%=companyinfo[i].company_name%></td>
                    <td><%=companyinfo[i].company_whether%></td>

                </tr>
                <% } %>
            </tbody>
        </table>

    </div>


</body>

</html>