<!DOCTYPE html>
<html>

    <head>

        <title>My Page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' />
        <link rel="stylesheet" href='/stylesheets/signup.css' />
        <link rel='stylesheet' href="/stylesheets/mypage.css" />
        
    </head>
    <style>
        .nav-link {
            cursor: pointer;
        }

        .span p {

            font-size: 10px;
        }
        .place_head th {

            top: 10px;
        }

        .bm td{
            font-size: 25px;
           
        }

   
    </style>
    <body>
        
        <%- include('../head/nav', {sess:sess})%>

<div class="area">
    
   <div class="state_info">
       <span class="border border-success">MY팜</span>

       <span class="border border-success2">할인쿠폰 <%= coupon.coupon_count %>장</span>
       <span class="border border-success2">배송중 0건</span>
       <span class="border border-success2">직거래 0건</span>
    
   </div>

    <div class="sidenav">    
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" > 주문목록 </a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">쿠폰</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">즐겨찾기</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" rclass="nav-link" id="v-pills-settings-tab" data-toggle="pill">배송지 관리</a>
            <a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact"  role="tab" data-toggle="pill">카드 관리</a>
            <a class="nav-link" href="/company">공급업체 메뉴</a>
        </div>
    </div>
    <div class="mypage_info">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <form>
                    <h1 align="center" style="font-weight: bold;">주문 목록</h1>
                 
                    <% for(var data of myorderlist){ %>
                       <div class="order_image_box">
                        <div id="img" >              
                            <img src="" alt=""  height="150">
                        </div>
                        <div style="flex-basis: 600px; display: flex; flex-direction: column; margin: auto 10px auto 0px">
                            <span class="order_info">상품이름 : <%= data.product_name %></span>
                            <span class="order_info">주문날짜 : <%= data.order_date %></span>
                            <span class="order_info">주문상태 : <%= data.order_state %></span>
                        </div>
                        <div style="flex-basis: 120px; display: flex; flex-direction: column; margin: auto;">
                            <a href="#"><button class="order_btn" >환불신청</button></a>
                            <button class="order_btn"><a href="/users/mypage/review/<%= data.product_num %>">리뷰쓰기</a></button>
                        </div>
                       </div>
                    <%}%>
                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <form>
                    <h1 class="coupon_title">내가 보유한 쿠폰</h1>
                    <table class="table">
                        <thead>
                            <th scope="col">쿠폰명</th>
                            <th scope="col">할인 금액</th>
                            <th scope="col">사용기한</th>
                        </thead>
                        <tbody>
                            <% if(couponinfo == null || couponinfo.length == 0){%>
                                <tr>
                                  <td colspan="6" align="center">쿠폰이 존재하지 않아요</td>
                                </tr>
                            <% } %>
                            <tr>
                            <% for(var i = 0; i < couponinfo.length; i++) { %>
                            <td><%= couponinfo[i].coupon_name %></td>
                            <td><%= couponinfo[i].coupon_sale_price %></td>
                            <td><%= couponinfo[i].coupon_date %></td>
                            </tr>
                            <% } %>
                        </tbody>
                  
                    </table>
            
                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <form>
                    <h1 class="coupon_title">즐겨찾기한 업체</h1>
                    <table class="table">
                        <thead>
                            <th>업체명</th>
                            <th>주요 판매 상품</th>
                            <th>관리</th>
                        </thead>
                        <% if(bookmarkinfo == null || bookmarkinfo.length == 0){%>
                            <tr>
                              <td colspan="6" align="center">즐겨찾기한 업체가 없습니다.</td>
                            </tr>
                        <% } %>
                        <tbody class="bm">
                            <tr>
                            <% for(var i = 0; i < bookmarkinfo.length; i++) { %>
                                <td><%= bookmarkinfo[i].company_name %></td>
                                <td><%= bookmarkinfo[i].company_id%></td>
                                <th><button class="red_btn"><a href="/users/mypage/deleteBookmark/<%= bookmarkinfo[i].bm_num %>">즐겨찾기 취소</a></button></th>
                            </tr>
                            <% } %> 
                        </tbody>
                    </table>
            
                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <form>
                    <h1 class="coupon_title">배송지 목록</h1>
                    <a href="javascript:popupOpen2();" class="border border-secondary"> + 배송지 등록 </a>
                    <table class="table">
                        <thead>
                            <th scope="col">배송지명<br>수령인</th>
                            <th scope="col">주소</th>
                            <th scope="col">연락처</th>
                            <th scope="col">수정</th>
                            <th scope="col">삭제</th>
                        </thead>
                        <tbody>
                            <% if(placeinfo == null || placeinfo.length == 0){%>
                                <tr>
                                  <td colspan="6" align="center">배송지 정보가 존재하지 않아요</td>
                                </tr>
                            <% } %>

                            <tr>
                            <% for(var i = 0; i < placeinfo.length; i++) { %>
                                <td><%= placeinfo[i].place_name %><br><%= placeinfo[i].place_userNM %></td>
                                <td><%= placeinfo[i].place_addr %><br><%= placeinfo[i].place_addrinfo %></td>
                                <td><%= placeinfo[i].place_tel %></td>
                                <td><button class="control_btn"><a href="/users/mypage/updatePlace/<%= placeinfo[i].place_id %>">수정</a></button></td>
                                <td><button class="control_btn"><a href="/users/mypage/deletePlace/<%= placeinfo[i].place_id %>">삭제</a></button></td>
                            </tr> 
                            <% } %>                  
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <form>
                    <h1 class="coupon_title">등록한 카드</h1>
                    <a href="javascript:popupOpen();" class="border border-secondary"> + 카드 등록</a>
                    <table class="table">
                        <thead>
                            <th scope="col">카드</th>
                            <th scope="col">카드번호</th>
                            <th scope="col">관리</th>
                        </thead>
                       
                        <tbody>
                            <% if(cardinfo == null || cardinfo.length == 0){%>
                            <tr>
                                <td colspan="5" align="center">카드가 존재하지 않아요</td>
                            </tr>
                            <% } %>                
                            <tr>
                                <% for(var i = 0; i < cardinfo.length; i++) { %>
                            <td>
                                <%= cardinfo[i].card_num %>
                            </td>
                            <td>
                                <%= cardinfo[i].card_validity %>
                            </td>
                            <td><button class="control_btn"><a href="/users/mypage/deleteCard/<%= cardinfo[i].card_num %>">삭제</a></button></td>
                            </tr>     
                            <% } %>
                        </tbody>
                    </table>
                </form>     

            </div>
          </div>
    </div> 
</div>



    <script>
        $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
    </script>
    <script type="text/javascript">    
        function popupOpen(){
        
            var popUrl = "/users/mypage/insertCard";	//팝업창에 출력될 페이지 URL
        
            var popOption = "width=700, height=600, resizable=0, scrollbars=no, toolbars=no, menubar=no status=no;";    //팝업창 옵션(optoin)
        
                window.open(popUrl,"",popOption);
        }   
        </script>
        <script type="text/javascript">
        function popupOpen2(){
        
        var popUrl2 = "/users/mypage/insertPlace";	//팝업창에 출력될 페이지 URL
    
        var popOption2 = "width=800, height=850, resizable=0, scrollbars=no, toolbars=no, menubar=no status=no;";    //팝업창 옵션(optoin)
    
            window.open(popUrl2,"",popOption2);
    }       
        </script>
 
        </script>
 
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
